:root {
    --red: #FF6B6B;
    --blue: #3AB0FF;
    --green: #5FD068;
    --yellow: #F2DF3A;
    --border: #CCC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #e6e6e6;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 20px;
    margin: 15px 0;
}

p {
    margin: 10px 0;
    text-align: justify;
}

.bg-warning {
    background-color: var(--red);
    color: #FFF;
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

form {
    padding: 16px;
}

.card {
    width: 800px;
    background-color: #fff;
    margin: auto;
    padding: 57px 72px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header__title,
.header__subtitle {
    text-align: center;
}

.header__subtitle,
.header__caption {
    color: var(--blue);
    font-weight: bold;
}

.input__group {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.input__group input {
    flex: 1;
}

input {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-bottom: 1px solid var(--border);
    outline: none;
}

input[type="text"] {
    min-width: 175px;
    padding-left: 8px;
}

.radio__group div {
    margin: 10px 0;
    text-align: center;
    display: inline-block;
}

.table__scroll {
    overflow-x: scroll;
}

table {
    width: 656px;
    border-collapse: collapse;
    border-radius: 8px;
}

table tr th,
table tr td {
    padding: 8px;
    border: 1px solid var(--border);
}

table tr td:not(:nth-child(2)) {
    text-align: center;
}

textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    font-size: inherit;
    font-family: inherit;
    padding: 8px 16px;
    margin: 10px 0;
    border: 1px solid var(--border);
    border-radius: 8px;
    outline: none;
}

.btn {
    width: 40%;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    opacity: 1;
}

.btn.btn-success {
    background-color: var(--green);
    color: #fff;
}

.btn.btn-danger {
    background-color: var(--red);
    color: #fff;
}

/* For tablet */
@media screen and (max-width: 767.98px) {
    .card {
        width: auto;
    }
}

/* For mobile */
@media screen and (max-width: 575.98px) {
    .card {
        padding: 15px 30px;
    }

    .input__group label {
        width: 78px;
    }
}